extends layout

block content
  h2 Bonjour #{assigneeName},
  p Vous avez été assigné(e) à une tâche de maintenance pour le site web <strong>#{websiteUrl}</strong>.

  .card
    h3.card-title Maintenance WordPress

    table(width="100%" cellpadding="0" cellspacing="0" border="0")
      tr
        td.row-label Site web
        td.row-value
          a(href=websiteUrl style="color: #3A2A1E;") #{websiteUrl}

      if clientName
        tr
          td.row-label.row-sep Client
          td.row-value.row-sep #{clientName}

      if taskDueDate
        tr
          td.row-label.row-sep Échéance
          td.row-value.row-sep #{taskDueDate}

      if recurrenceInfo
        tr
          td.row-label.row-sep Récurrence
          td.row-value.row-sep #{recurrenceInfo}

      if adminLogin
        tr
          td(colspan="2" style="padding: 20px 0 0 0;")
            span.eyebrow Accès administrateur
        tr
          td.row-label Login
          td.row-value #{adminLogin}

      if taskDescription
        tr
          td(colspan="2" style="padding: 20px 0 0 0;")
            span.eyebrow Instructions
        tr
          td(colspan="2" style="padding: 8px 0 0 0; font-size: 14px; color: #6E4A35; line-height: 1.6;") #{taskDescription}

  .info-box.info-box-blue
    p
      strong(style="color: #2C4670;") Tâches de maintenance à effectuer :
      br
      | • Mise à jour de WordPress et des plugins
      br
      | • Vérification de la sécurité
      br
      | • Sauvegarde complète du site
      br
      | • Test de performance et optimisation
      br
      | • Vérification des liens cassés

  div(style="text-align: center; margin-top: 40px;")
    a.btn(href=appUrl + '/app/maintenance') Accéder au tableau de maintenance

  p(style="margin-top: 40px; font-size: 13px; color: #8A7566; line-height: 1.6;") Une fois la maintenance terminée, n'oubliez pas de marquer la tâche comme complétée dans le système.
