extends layout

block content
  h2 Bonjour #{adminName},
  p Un nouveau projet a été soumis par un client via le portail Hipster.

  .card
    h3.card-title Détails de la soumission

    table(width="100%" cellpadding="0" cellspacing="0" border="0")
      tr
        td.row-label Client
        td.row-value #{clientName}

      tr
        td.row-label.row-sep Nom du projet
        td.row-value.row-sep #{projectName}

      if projectDescription
        tr
          td(colspan="2" style="padding: 18px 0 0 0;")
            span.eyebrow Description
        tr
          td(colspan="2" style="padding: 8px 0 0 0; font-size: 14px; color: #6E4A35;") #{projectDescription}

  p(style="margin-top: 32px;") Veuillez examiner cette soumission et attribuer un membre de l'équipe pour démarrer le processus.

  div(style="text-align: center; margin-top: 40px;")
    a.btn(href=appUrl + '/admin/projects') Examiner la soumission
