extends layout

block content
  h2 Bonjour #{assigneeName},
  p Une nouvelle tâche vous a été assignée dans le cadre du projet <strong>#{projectName}</strong>.

  .card
    h3.card-title #{taskTitle}

    table(width="100%" cellpadding="0" cellspacing="0" border="0")
      if taskPriority
        tr
          td.row-label Priorité
          td.row-value
            if taskPriority === 'high'
              span.badge.badge-danger Haute
            else if taskPriority === 'medium'
              span.badge.badge-warning Moyenne
            else
              span.badge.badge-success Basse

      if taskDueDate
        tr
          td.row-label.row-sep Échéance
          td.row-value.row-sep #{taskDueDate}

      if taskStatus
        tr
          td.row-label.row-sep Statut
          td.row-value.row-sep #{taskStatus}

      tr
        td.row-label.row-sep Projet
        td.row-value.row-sep #{projectName}

      if clientName
        tr
          td.row-label.row-sep Client
          td.row-value.row-sep #{clientName}

      if assignedBy
        tr
          td.row-label.row-sep Assigné par
          td.row-value.row-sep #{assignedBy}

      if taskDescription
        tr
          td(colspan="2" style="padding: 20px 0 0 0;")
            span.eyebrow Description de la tâche
        tr
          td(colspan="2" style="padding: 8px 0 0 0; font-size: 14px; color: #6E4A35; line-height: 1.6;") #{taskDescription}

  .info-box.info-box-brand
    p
      strong(style="color: #3A2A1E;") Prochaines étapes :
      br
      | Vous pouvez maintenant commencer à travailler sur cette tâche. N'oubliez pas de mettre à jour son statut au fur et à mesure de votre progression dans le tableau Kanban du projet.

  div(style="text-align: center; margin-top: 40px;")
    if taskUrl
      a.btn(href=taskUrl) Voir la tâche
    else
      a.btn(href=appUrl + '/app/tasks') Voir mes tâches

  p(style="margin-top: 40px; font-size: 13px; color: #8A7566; line-height: 1.6;") Si vous avez des questions concernant cette tâche, n'hésitez pas à contacter #{assignedBy || 'votre chef de projet'}.
