extends layout

block content
  h2 Ticket Résolu !

  p Bonjour #{clientName},

  p
    | Nous sommes heureux de vous informer que votre ticket
    strong  "#{ticketTitle}"
    |  a été résolu suite à la finalisation de la tâche associée.

  .card
    table(style="width: 100%; border-collapse: collapse;")
      tr
        td.row-label Ticket
        td.row-value #{ticketTitle}
      tr
        td.row-label.row-sep Projet
        td.row-value.row-sep #{projectName || 'N/A'}
      tr
        td.row-label.row-sep État
        td.row-value.row-sep
          span.badge.badge-success Résolu

  p(style="margin-bottom: 32px;")
    | Si vous avez d'autres questions ou si le problème persiste, n'hésitez pas à rouvrir un ticket.

  div(style="text-align: center;")
    a.btn(href=appUrl + "/client/tickets") Voir mes tickets
