extends layout

block content
  h2 Bonjour #{adminName},
  p Un nouveau ticket de support a été créé par un client.

  .card
    h3.card-title Détails du ticket

    table(width="100%" cellpadding="0" cellspacing="0" border="0")
      tr
        td.row-label Client
        td.row-value #{clientName}

      tr
        td.row-label.row-sep Sujet
        td.row-value.row-sep #{ticketTitle}

      if priority
        tr
          td.row-label.row-sep Priorité
          td.row-value.row-sep
            if priority === 'HIGH'
              span.badge.badge-danger #{priority}
            else
              span.badge.badge-neutral #{priority}

      if ticketDescription
        tr
          td(colspan="2" style="padding: 18px 0 0 0;")
            span.eyebrow Description du problème
        tr
          td(colspan="2" style="padding: 8px 0 0 0; font-size: 14px; color: #6E4A35;") #{ticketDescription}

  p(style="margin-top: 32px;") Veuillez prendre en charge ce ticket et répondre au client dès que possible.

  div(style="text-align: center; margin-top: 40px;")
    a.btn(href=appUrl + '/admin/support') Voir le ticket
